.st0 {
  fill: #8c604e;
}
.st1 {
  fill: #de8800;
}
.st2 {
  clip-path: url(#SVGID_00000091720600018938482080000011493824717812662954_);
  fill: #c36800;
}
.st3 {
  fill: #fffce6;
}
.st4 {
  fill: #c01000;
}
.st5 {
  clip-path: url(#SVGID_00000163795567151411096600000016923257256998241693_);
  fill: #fbffc3;
}
.st6 {
  clip-path: url(#SVGID_00000171721779462712665340000011206280402625461913_);
  fill: #fbffc3;
}
.st7 {
  clip-path: url(#SVGID_00000030465691395776036530000008595926818872109987_);
  fill: #fbffc3;
}
.st8 {
  fill: #777571;
}
.st9 {
  fill: #b37200;
}
.st10 {
  fill: #7f16ff;
}
.st11 {
  fill: #004964;
}
.st12 {
  clip-path: url(#SVGID_00000131348072670895609560000001979675840818994343_);
  fill: #534964;
}
.st13 {
  clip-path: url(#XMLID_00000011717451633694496050000015056557614495524992_);
  fill: #459d00;
}
.st14 {
  fill: #00063c;
}
.st15 {
  fill: #2d0000;
}
.st16 {
  fill: #00e600;
}
.st17 {
  fill: #009200;
}
.st18 {
  fill: #007400;
}
.st19 {
  fill: #004c00;
}

.use,
.use2 {
  overflow: visible;
}

.use2 {
  fill: #54b800;
}
