:root {
  --color-white: #ffffff;
  --color-yellow-border: #f7c68f;
  --color-red: #d60005;
  --color-yellow-title: #de7600;
  --color-red-accent: #c15400;
  --color-orange-icon: #e97b02;
  --color-orange-circle: #e38b00;
  --color-orange-button: #ff6f00;
  --color-BG-button: #fff1e6;
  --color-red-tooltip: #913f2d;
  --color-red-title-icon: #af5946;
  --color-red-notRight: #dc3e1b;
  --color-radio: #9a6b1b;
  --color-footerText-dark: #5b462e;
  --color-footerText-light: #986f40;
  --color-footerBG: #cd9f6b;
  --color-black: #000000;
  --color-yellow-card: #ffefdf;
  --color-yellow-card-hover: #ffe3c1;
  --color-orange-card-title: #9c7952;
  --transition-prop-0_2s: 0.2s;
}

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.MuiTooltip-tooltip {
  background-color: var(--color-red-tooltip) !important;
}

::placeholder {
  color: rgb(63, 63, 63);
}
