:root {
  --color-white: #ffffff;
  --color-yellow-border: #f7c68f;
  --color-red: #d60005;
  --color-yellow-title: #de7600;
  --color-red-accent: #c15400;
  --color-orange-icon: #e97b02;
  --color-orange-circle: #e38b00;
  --color-orange-button: #ff6f00;
  --color-BG-button: #fff1e6;
  --color-red-tooltip: #913f2d;
  --color-red-title-icon: #af5946;
  --color-red-notRight: #dc3e1b;
  --color-radio: #9a6b1b;
  --color-footerText-dark: #5b462e;
  --color-footerText-light: #986f40;
  --color-footerBG: #cd9f6b;
  --color-black: #000000;
  --color-yellow-card: #ffefdf;
  --color-yellow-card-hover: #ffe3c1;
  --color-orange-card-title: #9c7952;
  --transition-prop-0_2s: 0.2s;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.MuiTooltip-tooltip {
  background-color: var(--color-red-tooltip) !important;
}

::placeholder {
  color: rgb(63, 63, 63);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(255, 140, 0);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 6px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(255, 140, 0), 0 0 5px rgb(255, 140, 0);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: rgb(255, 140, 0);
  border-left-color: rgb(255, 140, 0);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.block_loader {
  height: calc(100vh - 40px);
  display: grid;
  place-items: center;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem rgb(255, 140, 0);
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 rgb(255, 140, 0);
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem rgb(255, 140, 0);
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 rgb(255, 140, 0);
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 rgb(255, 140, 0);
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem rgb(255, 140, 0);
    opacity: 1;
  }
}
