.st0 {
  fill: #de8800;
}
.st1 {
  clip-path: url(#SVGID_00000115489718196539730280000005844901324479413436_);
  fill: #c36800;
}
.st2 {
  fill: #fffce6;
}
.st3 {
  fill: #c01000;
}
.st4 {
  clip-path: url(#SVGID_00000085247721998532263760000003235061327340972208_);
  fill: #fbffc3;
}
.st5 {
  clip-path: url(#SVGID_00000031886528881274522710000004027743265076697267_);
  fill: #fbffc3;
}
.st6 {
  clip-path: url(#SVGID_00000161616474337054019980000012974840243758646927_);
  fill: #fbffc3;
}
.st7 {
  fill: #b37200;
}
.st8 {
  fill: #7f16ff;
}
.st9 {
  fill: #541200;
}
.st10 {
  fill: #72d47c;
}
.st11 {
  fill: #004964;
}
.st12 {
  clip-path: url(#SVGID_00000181050743238438991440000012313350690498714542_);
  fill: #534964;
}
.st13 {
  fill: #30c2ff;
}
.st14 {
  fill: #aa5600;
}
.st15 {
  clip-path: url(#SVGID_00000144336206093071980560000012711782578376372395_);
  fill: #c36800;
}
.st16 {
  fill: #52c800;
}
.st17 {
  fill: #497f5c;
}
.st18 {
  clip-path: url(#SVGID_00000000214367300632772960000009957911372787518350_);
  fill: #fbffc3;
}
.st19 {
  clip-path: url(#SVGID_00000127731453071830804630000004108307713594839457_);
  fill: #fbffc3;
}

.useStyle {
  overflow: visible;
}

.polyline1 {
  clip-path: url(#SVGID_00000082345602861333509080000017255493794221779627_);
  fill: #fbffc3;
}

.polyline2 {
  clip-path: url(#SVGID_00000018958686396590104700000005010137129950897280_);
  fill: #fbffc3;
}

.polyline3 {
  clip-path: url(#SVGID_00000092446780817465790100000017144739487967930508_);
  fill: #fbffc3;
}

.polyline4 {
  clip-path: url(#SVGID_00000158716676284452875990000006638439357790038146_);
  fill: #534964;
}
